= stylesheet_link_tag    "users.scss"
=# javascript_include_tag "users"

.profileBox
  .image
    = image_tag "user/default.png"
  .info
    %h1
      = @user.name
    %h2
      = @user.username
      =# @user.location if @user.location