
body {
  background: rgba(162, 191, 213, 0.67);
  color: black;
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0px;
  height: 100%
}

h2{
  color: black;
}

ul
{
  list-style:none;
}

a{
  text-decoration:none;
}

.inner-container{
  min-height: 450px;
  margin: 50px;
}
/*------ ================= -----------
--------       NAV         -----------
-------- ================= ---------*/
.container {
  width: auto;
}
  .navbar .navbar-left > li > a {
    height: 60px;
    padding-top: 0;
    padding-bottom: 0;
    line-height: 60px;
  }
  .nav-list > li {
    float: left;
  }
  .nav-list{
    margin: 0;
  }
  .navbar .nav-list > li > a, .navbar .nav-list > li button {
    display: inline-block;
    width: auto;
  }

.nav {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}
.navbar .navbar-right .nav>li.user {
  color:gray;
  background-color: black;
}
.navbar .navbar-right .nav>li.credButtons {
  background-color: black;
}

.navbar ul>li>a, .navbar .navbar-nav>li button {
  display: block;
  width: 100%;
  padding: 20px;
  color: #a1a3a2;
  font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 300;
  text-align: left;
  text-decoration:none;
  &:active {
    color:white;
  }
  &:hover{
    color:white;
  }
}

.navbar .navbar-left ul>li{
  background-color: #303136;
}
.navbar .navbar-right ul>li{
  background-color: black;
}
.navbar{
  width:auto;
  height: 60px;
  background-color: #303136;
  overflow: hidden;
  position: relative;
}
.navbar-left {
  float: left !important;
  height: 100%;
}
.navbar-right {
  float: right !important;
  height: 100%;
}

.user .avatar img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  margin-left: 10px;
  margin-top: -10px;
}
.user{
  color:gray;
  max-width: 250px;
  max-height: 60px;

}

/*------ ================= -----------
--------       FOOTER      -----------
-------- ================= ---------*/
footer {
  padding-bottom: 32000px;
  margin-bottom: -32000px;
  background: #303136 ;
  padding: 5px 10px 20px 10px;
  #copyright {
    color: gray;
    float: none;
    clear: both;
    display: block;
    font-size: 15px;
  }

}
.copyright {
  padding: 20px 0 0px 0;
  margin: 0px 0 0 0;
  font-size: 15px;
  color: gray;
  //border-top: 1px solid gray;
}
.copyright-inner {
  clear: both;
}



/*------ ================= -----------
--------       Buttons     -----------
-------- ================= ---------*/
.btn {
  display: inline-block;
  padding: 5px 8%;
  text-align: center;
  background: gray;
  color: white;
  border: 0;
  outline: 0;
  cursor: pointer;
  margin: 0;
  transition: background-color 300ms ease-out;

  &:hover, &:active {
    color: white;
    background: darkgray;
    outline: 0;
  }

}

/*------ ================= -----------
--------       Messages    -----------
-------- ================= ---------*/
.flash-notice, .flash-alert, .flash-error, .flash-success{
  border: 1px solid;
  margin: 10px 0px;
  padding:15px 10px 15px 50px;
  background-repeat: no-repeat;
  background-position: 10px center;
}

ul#flash-list{
  list-style: none;
  padding:0px;
}

.flash-notice {
  color: blue;
  background-color: lightblue;
}
.flash-success {
  color: green;
  background-color: lightgreen;
}
.flash-alert {
  color: black;
  background-color: lightyellow;

}
.flash-error {
  color: red;
  background-color: pink;
}

.close-x {
  width: 30px;
  height: 30px;
  font-size: 20px;
  margin-top: 13px;
  margin-right: 20px;

  &:hover, &:active, &:focus {
    color: white;
  }

}

.form-label.required:before{
  content: " *";
}

.hidden{
  display: none;
}