// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user-list{
  ul{
    list-style:none;
  }
}
.center {
  text-align: center;
}
.profileBox{
  background-color: whitesmoke;
  min-height: 200px;
  margin: 0 auto;
  padding: 50px;
  width: 200px;
  border:1px solid #E4E4E4;
  position: relative;
}
.info{
  text-align: center;
  line-height: 40%;
  h1{
    font-size: 20px;
  }
  h2{
    font-size: 15px;
  }
}

.ajax-loader{
  position:absolute;
  display: none;
  z-index:    1000;
  top:        0;
  left:       0;
  height:     100%;
  width:      100%;
  background: rgba( 255, 255, 255, .8 )
  50% 50%
  asset-url('animations/ajax-loader.gif')

  no-repeat;
}