.navbar
  -#.container
  .navbar-left
    %ul.nav-list
      %li
        =link_to "Home", root_path
  .navbar-right
    .nav
      %ul.nav-list

        - if current_user
          %li.user
            = link_to user_path, :class => 'avatar' do
              = image_tag "user/default.png"
              = current_user.name
        - else
          %li.credButtons
            =link_to "Register", new_user_path
            =link_to "Login", new_user_path